<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/restaurants">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurants/feeds">最新動態</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/restaurants/top">TOP10 人氣餐廳</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/top">美食達人</a>
  </li>
</ul>
<br />
<h1>TOP10 人氣餐廳</h1>
<hr />
<div class="col-6 m-auto">
  {{#each restaurants}}
  <div class="card card-body">
    <div class="row">
      <div class="col-auto">
        <img src="{{this.image}}" alt="image" style="width: 150px">
      </div>
      <div class="col">
        <div class="">
          <h2>{{this.name}}</h2>
          <span class="badge badge-secondary">收藏數：{{this.FavoriteCount}}</span>
          <p>{{this.description}}</p>
          <div class="row">
            <form action="/restaurants/{{this.id}}">
              <button class="btn btn-dark">Show</button>
            </form>
            {{#if this.isFavorited}}
            <form action="/favorite/{{this.id}}?_method=DELETE" method="POST"><button type="submit"
                class="btn btn-danger ml-2">移除最愛</button></form>
            {{else}}
            <form action="/favorite/{{this.id}}" method="POST"><button type="submit"
                class="btn btn-primary ml-2">加到最愛</button>
            </form>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>