<div class="card">
  <div class="row">
    <div class="col-auto">
      <img src="{{user.image}}" class="" style="width: 300px" alt="img">
    </div>
    <div class="col">
      <div class="card-block px-2 mt-3">
        <h4 class="card-title">{{user.name}}</h4>
        <p class="card-text">{{user.email}}</p>
        <p class="card-text">已評論餐廳數量：{{user.Comments.length}}</p>
        <br />
        <br />
        <br />
        <br />
        {{#if checkUser}}
        <a href="/users/{{user.id}}/edit" class="btn btn-outline-dark">Edit Profile</a>
        {{/if}}
      </div>
    </div>
  </div>
</div>
<div class="card mt-3">
  <div class="card-header">
    <p class="card-text">已評論餐廳數量：{{user.Comments.length}}</p>
  </div>
  <div class="card-body">
    {{#each user.Comments}}
    <a href="/restaurants/{{this.Restaurant.id}}">
      <img src="{{this.Restaurant.image}}" style="width: 100px" alt="image">
    </a>
    {{/each}}
  </div>
</div>